<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar" class="navbar">

    <div class="nav-left">
        <div class="navbar-brand">
            <img src="/images/logo.png" alt="Logo" class="brand-logo"/>
        </div>

        <ul class="navbar-links">
            <li><a th:href="@{/oferente/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/oferente/habilidades}">Habilidades</a></li>
            <li><a th:href="@{/oferente/cv}">CV</a></li>
        </ul>
    </div>

    <div class="nav-right">
        <span class="admin-email"
              th:text="${usuarioNombre + ' ' + usuarioPrimerAp}">
            Usuario
        </span>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn-salir">Salir</button>
        </form>
    </div>

</nav>

</body>
</html>