<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Oferente</title>
    <link rel="stylesheet" href="/css/FormOferente.css">
</head>
<body>
<div th:replace="fragments :: header"></div>
<main class="dashboard-container">
    <h1>Oferente - Dashboard</h1>
    <h3>Administra tus habilidades y CV</h3>
    <div class="button-row">
        <button onclick="location.href='/oferente/habilidades'">Mis destrezas</button>
        <button onclick="location.href='/oferente/cv'">Mi CV</button>
    </div>
</main>
<div th:replace="fragments :: footer"></div>
</body>
</html>
