<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Oferente</title>
    <link rel="icon" href="/images/formIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/FormOferente.css">
</head>
<header class="navbar">
    <div class="nav-left">
        <a href="#" class="logo">Talents</a>
        <a href="/dashboard" class="nav-link">Inicio</a>
        <a href="/userform" class="nav-link">Postularme</a>
        <a href="/jobs" class="nav-link">Buscar empleos</a>
    </div>
    <div class="nav-right">
        <a href="/profile" class="nav-link">Mi perfil</a>
        <a href="/logout" class="btn-signout">Cerrar sesión</a>
    </div>
</header>