<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario oferente</title>
    <link rel="stylesheet" href="/css/FormOferente.css">
</head>

<body>
<a href="/inicio" class="back-button">← Volver</a>
<div class="gradient-background"></div>
<div class="contact-us">
    <form th:action="@{/userform}" method="post" autocomplete="off">


    <div class="field-row">
            <div class="field">
                <label for="nombre">👤 Nombre </label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="field">
                <label for="primerAp">👤 Primer Apellido</label>
                <input type="text" id="primerAp" name="primerAp" required>
            </div>
            <div class="field">
                <label for="nacionalidad">🌎 Nacionalidad</label>
                <input type="text" id="nacionalidad" name="nacionalidad" required>
            </div>
        </div>

        <div class="field-row">
            <div class="field">
                <label for="id">🪪 Identificación</label>
                <input type="text" id="id" name="id" required>
            </div>

            <div class="field">
                <label for="telefono">📱 Teléfono</label>
                <input type="tel" id="telefono" name="telefono">
            </div>
        </div>

        <div class="field-row">
            <div class="field">
                <label for="correo">📧 Correo</label>
                <input type="email" id="correo" name="correo" required>
            </div>
            <div class="field">
                <label for="lugarResidencia">🏠️ Lugar de residencia</label>
                <input type="text" id="lugarResidencia" name="lugarResidencia" required>
            </div>
        </div>

        <div class="field-row">
            <div class="field">
                <label for="customerPassword">🔒 Contraseña</label>
                <input type="password" id="customerPassword" name="customerPassword" required>
            </div>

            <div class="field">
                <label for="customerPasswordConfirm">🔑 Verificar contraseña</label>
                <input type="password" id="customerPasswordConfirm" name="customerPasswordConfirm" required>
            </div>
        </div>

        <h3>Proporcione toda la información sobre su petición de registro.</h3>

        <button type="submit">Enviar</button>

    </form>
</div>

</body>
</html>