<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/Registro.css">
    <link rel="icon" href="/images/loginIcon.png" type="image/x-icon">
</head>

<body>
    <a href="/inicio" class="btn-volver">← Volver</a>
    <input type="radio" name="mode" id="signInTab" checked hidden>
    <input type="radio" name="mode" id="signUpTab" hidden>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form th:action="@{/login}" method="post">
                <h1>Iniciar sesión</h1>

                <input type="text" name="usuario" placeholder="Correo" required />
                <input type="password" name="clave" placeholder="Contraseña" required />
                <button type="submit">Ingresar</button>

                <!-- Mensaje de error -->
                <div th:if="${error}" class="error-message" th:text="${error}"></div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido/a!</h1>
                    <p>Para mantenerse conectado con nosotros, inicia sesión con tu información personal.</p>
                </div>

                <div class="overlay-panel overlay-right">
                    <h1>Hola, amigo/a!</h1>
                    <p>Introduce tus datos personales y comienza tu busqueda con nosotros</p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>